<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <rewrite>
      <rules>
        <rule name="WebSocket" stopProcessing="true">
          <match url="socket.io/(.*)" />
          <conditions>
            <add input="{HTTP_UPGRADE}" pattern="websocket" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" url="http://127.0.0.1:3000/socket.io/{R:1}" />
        </rule>

        
        <rule name="ReverseProxy" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:3000/{R:1}" />
        </rule>

      </rules>
    </rewrite>

    <httpProtocol>
      <customHeaders>
        <add name="X-Forwarded-For" value="{REMOTE_ADDR}" />
        <add name="X-Forwarded-Host" value="10.0.100.58" />
        <add name="X-Forwarded-Proto" value="http" />
      </customHeaders>
    </httpProtocol>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>

  </system.webServer>
</configuration>