@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f5f5f7;
  --foreground: #020617;
  --radius: 0.5rem;
  --card: #ffffff;
  --card-foreground: #020617;
  --popover: #ffffff;
  --popover-foreground: #020617;
  --primary: #0891b2;
  --primary-foreground: #f9fafb;
  --secondary: #e5e7eb;
  --secondary-foreground: #111827;
  --muted: #e5e7eb;
  --muted-foreground: #6b7280;
  --accent: #cffafe;
  --accent-foreground: #0e7490;
  --destructive: #b91c1c;
  --border: #e5e7eb;
  --input: #e5e7eb;
  --ring: #0891b2;
  --chart-1: #0891b2;
  --chart-2: #0f766e;
  --chart-3: #9333ea;
  --chart-4: #f97316;
  --chart-5: #22c55e;
}

.dark {
  --background: #020617;
  --foreground: #e5e7eb;
  --card: #020617;
  --card-foreground: #e5e7eb;
  --popover: #020617;
  --popover-foreground: #e5e7eb;
  --primary: #22d3ee;
  --primary-foreground: #083344;
  --secondary: #111827;
  --secondary-foreground: #e5e7eb;
  --muted: #111827;
  --muted-foreground: #9ca3af;
  --accent: #083344;
  --accent-foreground: #ecfeff;
  --destructive: #f97373;
  --border: #1f2937;
  --input: #1f2937;
  --ring: #22d3ee;
  --chart-1: #22d3ee;
  --chart-2: #22c55e;
  --chart-3: #f97316;
  --chart-4: #eab308;
  --chart-5: #a855f7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
